<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link href="/AngularServices/css/Style.css" rel="stylesheet">
	<script src="/AngularServices/angular.js"></script>
	<script src="/AngularServices/resources/angular1/scripts/filters.js"></script>
	<script src="/AngularServices/resources/angular1/scripts/customfilter.js"></script>
</head>
<body ng-app="filtersModule">
<div ng-controller="filtersController">
	<br/>
	<br/>
	<div>
		Employees without filter:
	</div>
	<br/>
	
	<table>
		<thead>
			<tr >
				<th ng-click="sortData('name')" width="20%">
					Name <div ng-class="getSortClass('name')"></div>
				</th>
				<th ng-click="sortData('dateOfBirth')" width="20%">
					Date of birth <div ng-class="getSortClass('dateOfBirth')"></div>
				</th>
				<th ng-click="sortData('gender')" width="20%">
					Gender <div ng-class="getSortClass('gender')"></div>
				</th>
				<th ng-click="sortData('salary')" width="20%">
					Salary (number) <div ng-class="getSortClass('salary')"></div>
				</th>
				<th ng-click="sortData('city')" width="20%">
					City <div ng-class="getSortClass('city')"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in customemployees">
				<td>{{employee.name }}</td>
				<td>{{employee.dateOfBirth | date: dd/MM/YYYY}}</td>
				<td>{{employee.gender 	}}</td>
				<td>{{employee.salary }}</td>
				<td>{{employee.city }}</td>
			</tr>
		</tbody>
		
	</table>
	
	<br/>
	<br/>
	<div>
		Employees with custom gender filter:
	</div>
	<br/>
	<br/>
	
	<table>
		<thead>
			<tr >
				<th ng-click="sortData('name')" width="20%">
					Name <div ng-class="getSortClass('name')"></div>
				</th>
				<th ng-click="sortData('dateOfBirth')" width="20%">
					Date of birth <div ng-class="getSortClass('dateOfBirth')"></div>
				</th>
				<th ng-click="sortData('gender')" width="20%">
					Gender <div ng-class="getSortClass('gender')"></div>
				</th>
				<th ng-click="sortData('salary')" width="20%">
					Salary (number) <div ng-class="getSortClass('salary')"></div>
				</th>
				<th ng-click="sortData('city')" width="20%">
					City <div ng-class="getSortClass('city')"></div>
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in customemployees">
				<td>{{employee.name }}</td>
				<td>{{employee.dateOfBirth | date: dd/MM/YYYY}}</td>
				<td>{{employee.gender| genderconvert }}</td>
				<td>{{employee.salary | number : 2}}</td>
				<td>{{employee.city }}</td>
			</tr>
		</tbody>
		
	</table>
	
	</div>
<br/>
	<a href="/AngularServices/resources/angular1/angular1_index.html">Angular1 Home</a>
</body>
</html>