<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link href="/AngularServices/css/Style.css" rel="stylesheet">
	<script src="/AngularServices/angular.js"></script>
	<script src="/AngularServices/resources/angular1/scripts/restserviceinvoker.js"></script>
</head>
<body  ng-app="restmodule">
	<div  ng-controller="restcontroller">
	<div>Data without dynamic data</div>
	<br/>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Gender Name</th>
				<th>Salary</th>
				<th>City</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees">
				<td>{{employee.name}}</td>
				<td>{{employee.gender}}</td>
				<td>{{employee.salary}}
				<td>{{employee.city}}</td>
			</tr>
		</tbody>
		
	</table>
	
	</div>
	<div ng-controller="restdynamiccontroller">
	<div>Enter number of records:</div>
	<input type="number" step="1" max="15" min="1" ng-model="count" /> 
	<input type="button" ng-click="getemployees(count)" value="Get Employees" ></input>
	<br/>
	<br/>
	<table>
		<thead>
			<tr>
				<th>First Name</th>
				<th>Gender Name</th>
				<th>Salary</th>
				<th>City</th>
				
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="employee in employees">
				<td>{{employee.name}}</td>
				<td>{{employee.gender}}</td>
				<td>{{employee.salary}}
				<td>{{employee.city}}</td>
			</tr>
		</tbody>
		
	</table>
	
	</div>
	<br/>
	<a href="/AngularServices/resources/angular1/angular1_index.html">Angular1 Home</a>
	
</body>
</html>